@media only screen and (max-width: 769px) {
    .mlipskiCars {
        grid-template-columns: 1fr;
    }
}
@media only screen and (min-width: 769px) {
    .mlipskiCars {
        grid-template-columns: 1fr 1fr 1fr;
    }
}
.mlipskiCars {
    display: grid;
    padding: 5px;
    gap:10px;
    border: 1px solid #dcdcdc;
    background: #f7f7f7;
    margin-bottom: 10px;
}

#mlipskiCars__button {
    width: 100%;
}