<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <stage_password>
            <stage_password_credencials>
                <enabled>0</enabled>
                <login>login</login>
                <password>password</password>
            </stage_password_credencials>
        </stage_password>
    </default>
</config>